@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
}

html {
   overflow-x: hidden;
   margin-right: calc(-1 * (100vw - 100%));
}

body {
   font-family: 'Comfortaa', cursive;
   background-color: black;
   color: white;
   overflow-x: hidden;
}

.container {
   width: 1280px;
   margin: auto;
}

/* HEADER DECTION START */
header {
   border-bottom: 5px solid orange;
}

#header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   min-height: 70px;
   padding: 0 20px;
}
#header h2 {
   font-size: 2rem;
}

#search_box {
   position: relative;
   width: 350px;
}

#search_box input {
   box-sizing: border-box;
   width: 100%;
   font-size: 1rem;
   padding: 8px 12px;
   border-radius: 25px;
   outline: none;
   transition: all 0.30s ease-in-out;
   border: 1px solid #DDDDDD;
}

input:focus {
   box-shadow: 0 0 5px orange;
   border: 1px solid orange;
}

#search {
   color: black;
   position: absolute;
   cursor: pointer;
   top: 25%;
   right: 10%;
   transition: 1s;
}
.clear-search {
   color: black;
   position: absolute;
   cursor: pointer;
   top: 25%;
   right: 5%;
   transition: 0.5s;
   font-size: 16px;
   font-weight: 900;
}


#search_box i:hover {
   color: orange;
}
.clear-search:hover {
   color: orange;
}
/* HEADER DECTION END */

/* GALERY  DSECTIOn START */

.galery-images {
   box-sizing: border-box;
   padding-bottom: 20px;
   width: 100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: flex-start;
}

.image {
   width: 380px;
   height: 214px;
   margin-top: 15px;
   background-position: center;
   background-size: cover;
   border-radius: 2px;
   cursor: pointer;
}

/* FOOTER START*/
footer {
   border-top: 5px solid orange;
   font-family: 'Comfortaa', cursive;
   font-size: 24px;
   font-weight: bold;
}

.footer_container {
   box-sizing: border-box;
   height: 100px;
   padding: 25px 50px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.footer_git_link {
   text-decoration: none;
   color: white;
   transition: 0.5s;
}
.footer_git_link:hover {
   color: orange;
}

.footer_year:hover {
   color: orange;
}

.footer_rss_logo {
   width: 135px;
   height: 50px;
}
.footer_rss_img {
   width: 135px;
   height: 50px;
   background-size: containt;
   background-repeat: no-repeat;
   transition: 0.5s;
}
.footer_rss_img:hover {
   color: orange;
   filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
 }
/* FOOTER SECTION END */

@media(max-width:1280px) {
   .container {
      width: 100%;
   }
}

@media(max-width:768px) {
   #main {
      width: 95%;
   }

   .img {
      width: 100%;
   }

   #header {
      margin: 10px 0;
      padding: 20px;
      gap: 10px;
      justify-content: center;
   }

   #header h2 {
      padding: 5px 0;
   }
}

@media(max-width: 480px) {
   #header h2 {
      text-align: center;
      font-size: 1.5rem;
   }

   #search_box {
      width: 80%;
      margin: auto;
   }

   #search_box input {
      font-size: .7rem;
   }
}